
#dm video.videobgframe {
    margin: 0;
}
.dmMobileBody .dmPhotoGallery.newPhotoGallery:not(.photo-gallery-done) {
    min-height: 80vh;
}
.dmDesktopBody .dmPhotoGallery.newPhotoGallery:not(.photo-gallery-done) {
    min-height: 45vh;
}
#dm [data-show-on-page-only] {
    display: none !important;
}

img[width][height] {
    height: auto;
}

body[data-page-alias="it"] #dm [data-show-on-page-only="it"] {
    display: block !important;
}

*#dm div.dmContent h1,
*#dm div.dmFooter h1 {
    color: rgb(102, 102, 102);
}
*#dm div.dmRespCol > * {
    line-height: 1.5;
}
*.dmDesktopBody *#dm ul.dmNavWrapper > li > a *.navText,
*.dmDesktopBody *#dm ul.dmNavWrapper > li > a *.navItemText,
*.dmDesktopBody *#dm ul.dmNavWrapper > li > *.dmNavigation {
    color: rgb(17, 17, 17);
    font-weight: normal;
}
*.dmDesktopBody *#dm ul.dmNavWrapper > li > a:hover,
*.dmDesktopBody *#dm ul.dmNavWrapper > li > a.currentPage {
    border-color: rgb(17, 17, 17);
}
*.dmDesktopBody *#dm ul.dmNavWrapper > li.navItemSelectedServer > a *.navText,
*.dmDesktopBody *#dm ul.dmNavWrapper > li.dmNavItemSelected > a *.navItemText,
*.dmDesktopBody *#dm ul.dmNavWrapper > li.dmNavItemSelected > *.navItemText {
    font-weight: bold;
}
*.stickyHeaderSpacer {
    height: 92px;
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget:hover,
*#dm *[data-buttonstyle] div.dmInner *.dmWidget.hover {
    background-color: rgb(104, 204, 209);
}
*#dm *[data-buttonstyle] div.dmInner *.dmWidget {
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    border-color: rgb(247, 247, 247);
    border-width: 0px;
    border-style: solid;
}
*#dm *[data-buttonstyle] div.dmInner *.dmWidget span.text {
    color: rgb(255, 255, 255);
}
*#dm *[data-buttonstyle] div.dmInner *.dmWidget span.textonly {
    color: rgb(255, 255, 255);
}
*#dm div.dmContent h3,
*#dm div.dmFooter h3 {
    color: rgb(102, 102, 102);
}

*#dm div.dmInner {
    font-size: 16px;
}
*#dm div.dmInner,
*#dm div.dmInner *.dmRespCol,
*#dm *.ecwid *,
*#dm *.dmform *.dmforminput label {
    font-family: "Source Sans Pro";
    color: rgba(33, 34, 38, 1);
    font-weight: 300;
}

*#dm div.dmContent h2,
*#dm div.dmFooter h2,
*#dm div.dm-title h2 {
    font-family: "Droid serif";
    color: rgba(160, 156, 156, 1);
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    direction: ltr;
}
*#dm div.dmContent h3,
*#dm div.dmFooter h3,
*#dm div.dm-title h3 {
    color: rgba(160, 156, 156, 1);
    font-family: "Droid Serif";
    font-style: italic;
    text-decoration: none;
    font-weight: normal;
    direction: ltr;
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 1);
    border-width: 3px;
    border-style: solid;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget:hover,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget.hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, 0);
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget:hover span.text,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget.hover span.text,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget:hover input[type="submit"],
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget.hover input[type="submit"] {
    color: rgba(26, 26, 26, 1);
}
*#dm div.dmContent h4,
*#dm div.dmFooter h4,
*#dm div.dm-title h4 {
    color: rgba(119, 119, 119, 1);
    font-weight: normal;
    font-family: Amiko;
    font-style: normal;
    text-decoration: none;
    direction: ltr;
}
*#dm div.dmContent h5,
*#dm div.dmFooter h5,
*#dm div.dm-title h5 {
    font-family: Amiko;
    font-weight: normal;
    color: rgba(160, 156, 156, 1);
    text-decoration: none;
    font-style: normal;
    direction: ltr;
}
*.dmLargeBody *.dmBody *.dmRespRowsWrapper,
*.dmLargeBody *.dm-layout-sec *.dmBody *.dmRespRowsWrapper {
    background-color: transparent;
}
*#dm *.dmNewParagraph a,
*#dm *.dmBlockElement a,
*#dm *.dmform a.fileUploadLink {
    color: rgba(102, 102, 102, 1);
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary {
    border-color: rgba(153, 153, 153, 1);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 2px;
    border-style: solid;
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget:hover,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget.hover,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary:hover,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary.hover {
    background-color: rgba(153, 153, 153, 1);
    border-color: rgba(0, 0, 0, 0);
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget span.text,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmformsubmit input,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary span,
*#dmRoot *#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary {
    color: rgba(153, 153, 153, 1);
    font-weight: bold;
    font-family: Amiko;
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget:hover span.text,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget.hover span.text,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary:hover span.text,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary.hover span.text,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget:hover input[type="submit"],
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget.hover input[type="submit"],
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary:hover input[type="submit"],
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary.hover input[type="submit"] {
    color: rgba(255, 255, 255, 1);
}
*#dm div.dmContent h1,
*#dm div.dmFooter h1,
*#dm div.dm-title h1 {
    font-family: "Droid Serif";
    font-weight: normal;
    font-style: italic;
    color: rgba(33, 34, 38, 1);
    text-decoration: none;
    direction: ltr;
}

*#dm div.dmNewParagraph a,
*#dm *.dmNewParagraph a,
*#dm div.dmBlockElement a,
*#dm *.dmBlockElement a,
*#dm *.dmform a.fileUploadLink,
*.dmPrettyList *.link:not(.dmWidget),
*#dm *.dmGeoLocation a.dmGeoSVSeeAll,
*#dm *.dmGeoLocation a.dmGeoSVGoToPage,
*#dm *.postDescription a,
*#dm *.blog-post-component a,
*#dm *.timeline-post a,
*#dm .rteBlock a,
*#dm *.rteBlock a,
*#dm *.rteBlock a,
*#dm *.rteBlock a,
*#dm *.rteBlock a,
*#dm *.rteBlock a,
*.newPhotoGallery *.photoGalleryViewAll.link {
    text-decoration: none;
    color: rgba(246, 246, 246, 1);
}
*#dm div.dmContent h1,
*#dm div.dmFooter h1,
*#dm div.p_hfcontainer h1,
*#dm div.dm-title h1 {
    font-family: Poppins;
    font-style: normal;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}
*#dm div.dmContent h2,
*#dm div.dmFooter h2,
*#dm div.p_hfcontainer h2,
*#dm div.dm-title h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
}
*#dm div.dmContent h3,
*#dm div.dmFooter h3,
*#dm div.p_hfcontainer h3,
*#dm div.dm-title h3 {
    font-family: Poppins;
    font-style: normal;
    color: rgba(0, 0, 0, 1);
    font-weight: normal;
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget,
*#dm *[data-buttonstyle] div.dmInner *.dmHeader *.dmWidget,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary,
*#dm div.dmOuter div.dmInner *.ecwid *.form-control__button {
    border-color: rgba(0, 0, 0, 0);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(246, 41, 41, 1);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget:hover,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget.hover,
*#dm *[data-buttonstyle] div.dmInner *.dmHeader *.dmWidget:hover,
*#dm *[data-buttonstyle] div.dmInner *.dmHeader *.dmWidget.hover,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary:hover,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary.hover,
*#dm div.dmOuter div.dmInner *.ecwid *.form-control__button:hover,
*#dm div.dmOuter div.dmInner *.ecwid *.form-control__button.hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(246, 41, 41, 1);
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget span.text,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmformsubmit input,
*#dm div.dmOuter div.dmInner.ecwid *.ecwid-btn.ecwid-btn--primary span,
*#dm div.dmOuter div.dmInner *.ecwid *.form-control__button *.form-control__button-text,
*#dmRoot *#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary {
    font-family: Poppins;
    color: rgba(255, 255, 255, 1);
}
*#dm div.dmContent h4,
*#dm div.dmFooter h4,
*#dm div.p_hfcontainer h4,
*#dm div.dm-title h4 {
    color: rgba(0, 0, 0, 1);
    font-family: Poppins;
}
*#dm div.dmOuter div.dmInner.ecwid *.ecwid-btn.ecwid-btn--primary span:hover,
*#dm div.dmOuter div.dmInner.ecwid *.ecwid-btn.ecwid-btn--primary span.hover,
*#dm div.dmOuter div.dmInner *.ecwid *.form-control__button *.form-control__button-text:hover,
*#dm div.dmOuter div.dmInner *.ecwid *.form-control__button *.form-control__button-text.hover,
*#dmRoot *#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary:hover,
*#dmRoot *#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary.hover,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget:hover span.text,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget.hover span.text,
*#dm *[data-buttonstyle] div.dmInner *.dmHeader *.dmWidget:hover span.text,
*#dm *[data-buttonstyle] div.dmInner *.dmHeader *.dmWidget.hover span.text,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary:hover span.text,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary.hover span.text,
*#dm div.dmOuter div.dmInner *.ecwid *.form-control__button:hover span.text,
*#dm div.dmOuter div.dmInner *.ecwid *.form-control__button.hover span.text,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget:hover input[type="submit"],
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget.hover input[type="submit"],
*#dm *[data-buttonstyle] div.dmInner *.dmHeader *.dmWidget:hover input[type="submit"],
*#dm *[data-buttonstyle] div.dmInner *.dmHeader *.dmWidget.hover input[type="submit"],
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary:hover input[type="submit"],
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary.hover input[type="submit"],
*#dm div.dmOuter div.dmInner *.ecwid *.form-control__button:hover input[type="submit"],
*#dm div.dmOuter div.dmInner *.ecwid *.form-control__button.hover input[type="submit"],
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget:hover span,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget.hover span,
*#dm *[data-buttonstyle] div.dmInner *.dmHeader *.dmWidget:hover span,
*#dm *[data-buttonstyle] div.dmInner *.dmHeader *.dmWidget.hover span,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary:hover span,
*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary.hover span,
*#dm div.dmOuter div.dmInner *.ecwid *.form-control__button:hover span,
*#dm div.dmOuter div.dmInner *.ecwid *.form-control__button.hover span {
    color: rgba(246, 41, 41, 1);
}
*#dm div.dmContent h6,
*#dm div.dmFooter h6,
*#dm div.p_hfcontainer h6,
*#dm div.dm-title h6 {
    font-family: "Open Sans";
}
*#dm div.dmContent h5,
*#dm div.dmFooter h5,
*#dm div.p_hfcontainer h5,
*#dm div.dm-title h5 {
    font-family: "Open Sans";
}
.dmLargeBody .dmBody .dmRespRowsWrapper,
.dmLargeBody .dm-layout-sec .dmBody .dmRespRowsWrapper,
#dmSlideRightNavRight #site_content {
    background-color: transparent;
}

*#dm div.dmContent h3,
*#dm div.dmFooter h3,
*#dm div.dm-title h3 {
    font-size: 26px;
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget span.text,
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmformsubmit input {
    font-size: 21px;
}
*#dm div.dmContent h5,
*#dm div.dmFooter h5,
*#dm div.dm-title h5 {
    font-size: 15px;
}
*#dm DIV.dmOuter DIV.dmInner,
*#dm DIV.dmOuter DIV#dmSlideRightNavRight {
    background-image: initial;
    background-color: rgba(250, 227, 237, 1);
}
*#dm div.dmInner,*#dm div.dmInner *.dmRespCol,*#dm *.ecwid *,*#dm *.dmform *.dmforminput label
{
        font-size:18px;
}
*#dm div.dmInner,*#dm div.dmInner *.dmRespCol,*#dm *.ecwid *,*#dm *.dmform *.dmforminput label,*.dmPrettyList *.listText,*.dmPrettyList *.itemName
{
        font-size:18px;
}

*#dm div.dmContent h2,*#dm div.dmFooter h2,*#dm div.dm-title h2
{
    font-size:50px;
}
*#dm div.dmContent h4,*#dm div.dmFooter h4,*#dm div.dm-title h4
{
    font-size:16px;
}
*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmWidget span.text,*#dm *[data-buttonstyle] div.dmInner *#site_content *.dmformsubmit input,*#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary span,*#dmRoot *#dm div.dmOuter div.dmInner *.ecwid *.ecwid-btn.ecwid-btn--primary
{
    font-size:14px;
}
*#dm div.dmContent h6,*#dm div.dmFooter h6,*#dm div.dm-title h6
{
    font-size:14px;
}
*#dm div.dmContent h1,*#dm div.dmFooter h1,*#dm div.dm-title h1
{
    font-size:60px;
}
#dm div.dmInner,
*#dm div.dmInner *.dmRespCol,
*#dm *.ecwid *,
*#dm *.dmform *.dmforminput label,
*.dmPrettyList *.listText,
*.dmPrettyList *.itemName,
*#dm *.dmRestaurantMenu *.menuItemBox,
*.dmRestaurantMenu *.menuItemName,
*.dmRestaurantMenu *.menuItemDesc,
*.dmRestaurantMenu *.menuItemPrice,
*.dmPhotoGallery p.caption-text,
*.dmGeoLocation a span.dmGeoMLocItemTitle,
*.dmGeoLocation a span.dmGeoMLocItemDetails {
    font-size: 15px;
}
*#dm div.dmInner,
*#dm div.dmInner *.dmRespCol,
*#dm *.ecwid *,
*#dm *.dmform *.dmforminput label,
*.dmPrettyList *.listText,
*.dmPrettyList *.itemName,
*#dm *.dmRestaurantMenu *.menuItemBox,
*.dmRestaurantMenu *.menuItemName,
*.dmRestaurantMenu *.menuItemDesc,
*.dmRestaurantMenu *.menuItemPrice,
*.dmPhotoGallery p.caption-text,
*.dmGeoLocation a span.dmGeoMLocItemTitle,
*.dmGeoLocation a span.dmGeoMLocItemDetails,
*.map-popup-description {
    font-size: 15px;
}
*#dm div.dmContent h2,
*#dm div.dmFooter h2,
*#dm div.p_hfcontainer h2,
*#dm div.dm-title h2 {
    font-size: 40px;
}
*#dm div.dmContent h1,
*#dm div.dmFooter h1,
*#dm div.p_hfcontainer h1,
*#dm div.dm-title h1 {
    font-size: 70px;
}
*#dm div.dmContent h3,
*#dm div.dmFooter h3,
*#dm div.p_hfcontainer h3,
*#dm div.dm-title h3 {
    font-size: 30px;
}
*#dm div.dmContent h4,
*#dm div.dmFooter h4,
*#dm div.p_hfcontainer h4,
*#dm div.dm-title h4 {
    font-size: 22px;
}
